In [2]:
import numpy as np 
import pandas as pd

In [3]:
df = pd.read_csv('./data.csv')

In [5]:
df.head()

    done  score                         snake      food
0  False      0  [[15, 10], [15, 9], [15, 8]]  [20, 15]
1  False      0  [[15, 9], [15, 10], [15, 9]]  [20, 15]
2  False      0  [[16, 9], [15, 9], [15, 10]]  [20, 15]
3  False      0   [[17, 9], [16, 9], [15, 9]]  [20, 15]
4  False      0   [[17, 8], [17, 9], [16, 9]]  [20, 15]

In [8]:
len(df[df['done'] == True])

297647